
<div>
            <div *ngIf="loading">
                <app-loader />
            </div>
<div *ngIf="!loading && passwords" class="flex flex-col">
    <div class="flex justify-between items-center">
        <div class="flex-col flex">
            <p class="font-bold text-2xl">Saved Passwords</p>
            <p class="font-light text-sm">manage your passwords</p>
        </div>
        <button class="rounded-lg border border-blue-600 px-8 py-2" (click)="navigateTo('add-password')">
            <p class="text-xs text-blue-600 font-bold">New Password</p>
        </button>
    </div>
    <app-table />
</div>
</div>
