<div >
    <div *ngIf="loading">
        <app-loader />
    </div>
    <div *ngIf="!loading && passwordData" class="flex flex-col">
        <div class="flex justify-between items-center mb-6">
            <div class="flex-col flex">
                <p class="font-bold text-2xl">View Password</p>
                <p class="font-light text-sm">view your saved password</p>
            </div>
            <div class="flex gap-2">
                <button class="rounded-lg border border-gray-600 px-8 py-2" (click)="toggleEditMode()">
                    <p class="text-xs text-gray-600 font-bold">{{editMode ? "Cancel" : "Edit Password"}}</p>
                </button>
                <button class="rounded-lg  bg-red-600 px-8 py-2" (click)="deleteItem(itemId)">
                    <p class="text-xs text-white font-bold">Delete</p>
                </button>
            </div>
        </div>
    
        <!-- View mode -->
        <div *ngIf="!editMode" class=" grid grid-cols-4" >


    <div class="p-4 border border-red-400 rounded bg-gray-200 flex flex-col">
        <div class="flex flex"></div>
        <p><strong>App Name:</strong> {{ passwordData.app }}</p>
        <p><strong>Category:</strong> {{ passwordData.category }}</p>
        <p><strong>User Name:</strong> {{ passwordData.userName }}</p>
    </div>
           
    
        </div>
    
        <!-- Edit mode -->
        <div *ngIf="editMode">
            <!-- Form to edit password -->
            <form #passwordForm="ngForm" (ngSubmit)="submitForm(passwordForm)">
                <div class="flex flex-col max-w-[600px] w-full">
                    <div class="grid grid-cols-2 gap-2 mb-6">
                        <div class="flex flex-col gap-2">
                            <label for="app" class="text-xs font-bold text-gray-500">APP NAME</label>
                            <input type="text" class="p-2 border border-gray-500 rounded-lg text-sm" id="app" name="app"
                                [(ngModel)]="passwordData.app" required #app="ngModel">
                            <div *ngIf="app.invalid && (app.dirty || app.touched)" class="text-red-500 text-sm">App Name is
                                required
                            </div>
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="category" class="text-xs font-bold text-gray-500">Category</label>
                            <select class="p-2 border border-gray-500 rounded-lg text-sm" id="category" name="category"
                                [(ngModel)]="passwordData.category" required #category="ngModel">
                                <option value="" disabled selected>Select a category</option>
                                <option value="work">WORK</option>
                                <option value="school">SCHOOL</option>
                                <option value="other">OTHER</option>
                            </select>
                            <div *ngIf="category.invalid && (category.dirty || category.touched)"
                                class="text-red-500 text-sm">
                                Category is required</div>
                        </div>
                        <div class="flex flex-col gap-2">
                            <label for="userName" class="text-xs font-bold text-gray-500">USERNAME</label>
                            <input type="text" class="p-2 border border-gray-500 rounded-lg text-sm" id="userName"
                                name="userName" [(ngModel)]="passwordData.userName" required #userName="ngModel">
                            <div *ngIf="userName.invalid && (userName.dirty || userName.touched)"
                                class="text-red-500 text-sm">User Name is required
                            </div>
                        </div>
                    
                            <div class="flex flex-col gap-2">
                                <label for="encryptedPassword" class="text-xs font-bold text-gray-500">Password</label>
                                <div class="relative">
                                    <input [type]="show ? 'text' : 'password'" class="p-2 w-full border border-gray-500 rounded-lg text-sm" id="encryptedPassword"
                                        name="encryptedPassword" [(ngModel)]="passwordData.encryptedPassword" required #encryptedPassword="ngModel">
                                    <button type="button"
                                        class="absolute right-5 top-[10px] border border-green-200 z-[99] text-xs px-2 rounded bg-green-200 text-green-600 font-bold"
                                        (click)="toggleShow()">show</button>
                                </div>
                                <div *ngIf="encryptedPassword.invalid && (encryptedPassword.dirty || encryptedPassword.touched)"
                                    class="text-red-500 text-sm">Password is required
                                </div>
                            </div>
                    </div>
                    <button type="submit" [disabled]="passwordForm.invalid"
                        class="p-2 bg-blue-500 rounded-lg font-bold text-white disabled:bg-gray-400 disabled:cursor-not-allowed">Edit
                        Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
