<div >
    <div *ngIf="loading">
        <app-loader />
    </div>
    <div *ngIf="!loading && passwordData" class="flex flex-col">
        <div class="flex justify-between items-center mb-6">
            <div class="flex-col flex">
                <p class="font-bold text-2xl">View Password</p>
                <p class="font-light text-sm">view your saved password</p>
            </div>
            <div class="flex gap-2">
                <button class="rounded-lg border border-gray-600 px-8 py-2" (click)="toggleEditMode()">
                    <p class="text-xs text-gray-600 font-bold">{{editMode ? "Cancel" : "Edit Password"}}</p>
                </button>
                <button class="rounded-lg  bg-red-600 px-8 py-2" (click)="deleteItem(itemId)">
                    <p class="text-xs text-white font-bold">Delete</p>
                </button>
            </div>
        </div>
    
        <!-- View mode -->
        <div *ngIf="!editMode" class=" grid grid-cols-4" >


    <div class="p-4 border border-red-400 rounded bg-gray-200 flex flex-col">
        <div class="flex flex"></div>
        <p><strong>App Name:</strong> {{ passwordData.app }}</p>
        <p><strong>Category:</strong> {{ passwordData.category }}</p>
        <p><strong>User Name:</strong> {{ passwordData.userName }}</p>
    </div>
           
    
        </div>
    
        <!-- Edit mode -->
        <div *ngIf="editMode">
            <!-- Form to edit password -->
        
        <app-form [passwordData]="passwordData" (formSubmit)="submitForm($event)"></app-form>
        </div>
    </div>
</div>
